///////////////////////////////////////
///////////base styles/////////////////
///////////////////////////////////////////////////////////////

:root {

  --primary-color: hsl(322, 100%, 66%);
  --pale-blue: hsl(192, 100%, 9%);
  --dark-cyan: hsl(207, 100%, 98%);

}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;

}

body {
  background-color: var(--background);
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 130rem;
  max-width: 100%;
  padding: 0 5rem;

}

.two-column-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--text-primary);
}

.attribution a {
  color: var(--text-secondary);
}
