//////////////////////////////////////////////////////////
///////////////typography styles//////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--pale-blue);
}

h1,
h2{
  font-family: 'Poppins', sans-serif;
 
}

.text-large{
  font-weight: 700;
  font-size: 7.5rem;
}
