///////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////toggle switch button/////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////

#switch{
  display: none;

  &:checked + .switch-toggle::after{
    transform: translatex(0) ;
  }
}

.switch {
  &-container{
    label:first-of-type{
      font-weight: 700;
      color: var(--text-secondary);
      margin-right: 2rem;
    }
  }

  &-toggle{
    position: relative;
    display: block;
    height: 2.5rem;
    padding: .3rem;
    width: 5rem;
    background-color: var(--toggle-color);
    background-image: var(--toggle-color);
    border-radius: 2rem;
    transition: all .5s;
    cursor: pointer;

    &:after{
      content: "";
      display: inline-block;
      height: 1.9rem;
      width: 1.9rem;
      background-color: var(--background);
      border-radius: 50%;
      transition: all .3s;
      transform: translatex(130%)
    }

    &:hover{
      background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    }

  }
}
