header{
    margin-top: 15rem;
    text-align: center;
}

.header{

    &__top{
        h1{
            font-weight: 700;
            font-size: 4.5rem;

            @media only screen and (max-width: 500px){
                font-size: 3.5rem;
            }
        }
        p{
            width: 56rem;
            font-size: 1.9rem;
            margin-top: 2rem;
            max-width: 100%;
        }
    }

    &__main{
        &--img{
            margin: 10rem 0;
            width: 100%;
        }

        .container{
            width: 100rem;

            @media only screen and (max-width: 615px) {
               
                justify-content: center;
            }
            .flex-column{

                &:first-of-type{
                    margin-right: auto;

                    @media only screen and (max-width: 615px) {
                        margin-bottom: 5rem;
                        margin-right: 0;
                    }
                }


            }

            img{
                align-self: flex-start;
            }
        }
    }
}