header{
    margin-top: 15rem;
    text-align: center;
}

.header{

    &__top{
        h1{
            font-weight: 700;
            font-size: 4.5rem;
        }
        p{
            width: 56rem;
            font-size: 1.9rem;
            margin-top: 2rem;
            max-width: 100%;
        }
    }

    &__main{
        &--img{
            margin: 10rem 0;
            width: 100%;
        }

        .container{
            width: 100rem;

            .flex-column{

                &:first-of-type{
                    margin-right: auto;
                }

            }

            img{
                align-self: flex-start;
            }
        }
    }
}