:root {
  --primary-color: hsl(322, 100%, 66%);
  --pale-blue: hsl(192, 100%, 9%);
  --dark-cyan: hsl(207, 100%, 98%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 10px;
  box-sizing: border-box; }

body {
  background-color: var(--background); }

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container {
  width: 130rem;
  max-width: 100%;
  padding: 0 5rem; }

.two-column-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--text-primary); }

.attribution a {
  color: var(--text-secondary); }

body {
  font-size: 1.9rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--pale-blue); }

h1,
h2 {
  font-family: 'Poppins', sans-serif; }

.text-large {
  font-weight: 700;
  font-size: 7.5rem; }

.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 1rem 3rem;
  border: none;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.5rem;
  transition: all 0.3s; }
  .btn-rounded {
    border-radius: 5rem;
    box-shadow: -3px 6px 20px #9a9090; }
    .btn-rounded:hover {
      transform: scale(1.1); }
  .btn-outline-only {
    color: var(--primary-color);
    background-color: transparent;
    border: solid 1px var(--primary-color);
    box-shadow: none; }
    .btn-outline-only:hover {
      color: #fff;
      background-color: var(--primary-color); }
  .btn-large {
    padding: 2rem 7rem;
    font-size: 1.7rem;
    font-weight: 700;
    transition: all 0.6s; }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: scale(0.95); }

#switch {
  display: none; }
  #switch:checked + .switch-toggle::after {
    transform: translatex(0); }

.switch-container label:first-of-type {
  font-weight: 700;
  color: var(--text-secondary);
  margin-right: 2rem; }

.switch-toggle {
  position: relative;
  display: block;
  height: 2.5rem;
  padding: .3rem;
  width: 5rem;
  background-color: var(--toggle-color);
  background-image: var(--toggle-color);
  border-radius: 2rem;
  transition: all .5s;
  cursor: pointer; }
  .switch-toggle:after {
    content: "";
    display: inline-block;
    height: 1.9rem;
    width: 1.9rem;
    background-color: var(--background);
    border-radius: 50%;
    transition: all .3s;
    transform: translatex(130%); }
  .switch-toggle:hover {
    background-image: linear-gradient(to right, #378fe6, #3eda82); }

footer {
  background-color: var(--pale-blue); }

header {
  margin: 15rem 0;
  text-align: center; }

.header__top h1 {
  font-weight: 700;
  font-size: 4.5rem; }

.header__top p {
  width: 56rem;
  margin: 2rem 0 5rem 0; }

.header__main img:first-of-type {
  margin-top: 10rem; }

.header__main .container {
  width: 100rem; }
  .header__main .container .flex-column:first-of-type {
    margin-right: auto; }
  .header__main .container img {
    align-self: flex-start; }

section:nth-child(odd) {
  background-color: var(--dark-cyan); }

section .section__content--img img {
  width: 100%; }

section .section__content--text h2 {
  align-self: flex-start; }

.navbar {
  margin: 5rem auto 0 auto; }
